name: Static Site CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  repository_dispatch:
jobs:
  site:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.39.0
        with:
          token: ${{ secrets.GH_PAT }}
          command: "site"
      - uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: ./status-page/__sapper__/export
          publish_branch: gh-pages
